@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E6EDEB;
}

.exam-card {
  @apply bg-white shadow-lg rounded-md border border-gray-200;
}

.pm-btn {
  @apply px-8 py-2 rounded-md font-semibold text-white;
}

.pm-btn-green {
  background-color: #8DC641;
}

.pm-btn-green:hover {
  background-color: #7AB434;
}

.pm-btn-gray {
  background-color: #535353;
}

.pm-btn-outline {
  @apply border border-gray-300 bg-white text-gray-700;
}

.pm-header {
  background-color: #535353;
  color: white;

  .neo-button {
    background: #e0e0e0;
    border-radius: 12px;
    box-shadow: 9px 9px 18px #b8b8b8,
      -9px -9px 18px #ffffff;
  }

  .neo-button:active {
    box-shadow: inset 9px 9px 18px #b8b8b8,
      inset -9px -9px 18px #ffffff;
  }

}